<h1>Users</h1>

<table class="userlist">


  <tr>
    <th colspan="5"> <h3>Users Pending Approval</h3> </th>
  </tr>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Recipient</th>
    <th></th>
    <th></th>
  </tr>

  <% @unapproved_users.each do |user| %>
    <tr>
      <%= render partial: 'user_row', locals: {user: user} %>
      <td>
        <%= link_to 'Approve', user_path(user, user: {approved: true}), method: :patch %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th colspan="5"> <h3>Approved Users</h3> </th>
  </tr>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Recipient</th>
    <th></th>
    <th></th>
  </tr>

  <% @approved_users.each do |user| %>
    <tr>
      <%= render partial: 'user_row', locals: {user: user} %>
    </tr>
  <% end %>

</table>
