<% if recipient.awards.any? %>

  <div class="collapsible">
    <h5>Awards</h5>

    <table>
      <tr>
        <th>Award Name</th>
        <th>Date Received</th>
      </tr>

      <% recipient.awardings.order(:received).each do |awarding| %>
        <tr>
          <td><%= link_to awarding, awarding.award %></td>
          <td><%= awarding.received %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_awarding_path(awarding) %></td>
            <td><%= link_to 'Delete', awarding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>

    </table>
  </div>
<% else %>
  <p><i>No awards</i>
<% end %>
