<% content_for :title, @page.title %>

<% content_for :page_submenu do %>
<% end %>

<% if @page.office %>
  <%= render partial: "office", locals: {office: @page.office} %>
<% end %>

<div class="page_body">
  <%== @page.body %>
</div>
