form.contact label {
  padding: 0.3em;
  width: 11em;
}

form.contact input {
  width: 100%;
  max-width: 30em;
  min-width: 15em;
}

form.contact textarea {
  width: 95%;
  padding: 1em;
  height: 10em;
}

