// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.office_listed {
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
}

.office_icon_small {
  height: 3em;
  width: 3em;
  float: left;
  margin-right: 1em;
}

.office_info {
  clear: right;
}
