<!-- Grand Day 2020 menu -->
  <li ><a href="/grandday2020">Event Home</a></li>
  <li ><a href="/grandday2020/tournament">Tournament</a></li>
  <li ><a href="/grandday2020/populace">Populace Game</a></li>
  <li ><a href="/grandday2020/staff">Staff</a></li>
  <li ><a href="/">Cynnabar</a></li>
