<!-- Terpsichore menu -->
  <li ><a href="/terpsichore">Event Home</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Event Info<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/terpsichore/site">Site Information</a></li>
      <li><a href="/terpsichore/fees">Fees and Registration</a></li>
      <li><a href="/terpsichore/maps">Maps and Directions</a></li>
      <li><a href="/terpsichore/lodging">Lodging</a></li>
      <li><a href="/terpsichore/tavern">Tavern Menu</a></li>
      <li><a href="/terpsichore/staff">Event Staff</a></li>
    </ul>
  </li>
  <li ><a href="/terpsichore/schedule">Schedule</a></li>
  <li ><a href="/terpsichore/classes">Classes</a></li>
  <li ><a href="/terpsichore/ball">Grand Ball</a></li>
